<!DOCTYPE html>
<html lang="<%= theme.language %>">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="author" content="<%= theme.name %>">
    <meta name="description" content="<%= theme.description %>">
    <meta name="keywords" content="<%-theme.keywords%>">
    <title><%= theme.name %> | <%= theme.description %></title>
    <link rel="icon" href="<%= theme.favicon %>">
    <link rel="stylesheet" href="<%-theme.iconfont%>">
    <%- css('css/index.css') %>
    <script>
        var _hmt = _hmt || [];
        (function() {
          var hm = document.createElement("script");
          hm.src = "https://hm.baidu.com/hm.js?<%- theme.baidu %>";
          var s = document.getElementsByTagName("script")[0]; 
          s.parentNode.insertBefore(hm, s);
        })();
    </script>    
</head>
<body>
<div class="wrapper">
    <div class="main">
        <div class="container">
            <div class="intro">
                <div class="avatar">
                    <a href="/"><img src="<%- theme.avatar%>" alt="<%= theme.name %>"></a>
                </div>
                <div class="name"><%= theme.name %></div>
                <div class="description">
                        <p><%- theme.desc %></p>
                </div>
                <div class="links">
                    <% for (var i in theme.links){ %>
                    <a class="link-item" href="<%- url_for(theme.links[i]) %>" target="_blank" rel="noopener">
                        <i class="<%=i%>"></i>
                    </a>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
    <footer id="footer" class="footer">
        <div class="copyright">
            <%if(theme.ICP.enable == true){%>
                <a id="icp" href="<%-theme.ICP.url%>" target="_blank" rel="noopener" one-link-mark="yes">
                    <img style="padding: 0 4px;vertical-align: text-bottom;" src="<%-theme.ICP.icon%>" alt="ICP"/><%-theme.ICP.text%></a><br/>
            <%}%>
            <span>Copyright © <span id="time"></span>
                    <a href="/" target="_blank" one-link-mark="yes"><%= theme.name %>
                    </a> All Rights Reserved.
            </span>
        </div>
    </footer>
</div>
<%if(theme.music.field=='site' ||theme.music.field=='home' ){%>
<audio <%- theme.music.property%>></audio>
<%}%>
<script>
        var date = new Date()
        var year = date.getFullYear();
        var Copyright = "<%=theme.Copyright%>";
        if(year != Copyright){
            if(Copyright==""){
                document.getElementById("time").innerHTML += year;
            }else{
                document.getElementById("time").innerHTML += "<%=theme.Copyright%> - "+year;
            }
        }else{
            document.getElementById("time").innerHTML += year;
        }
</script><% if (theme.css !== undefined && theme.css.length > 0) { %><% theme.css.forEach(url => { %>
<link rel="stylesheet" href="<%- url_for(url) %>"><% }); %><% } %><% if (theme.js !== undefined && theme.js.length > 0) { %><% theme.js.forEach(url => { %>
<script src="<%- url_for(url) %>"></script><% }); %><% } %>
</body>
</html>
